.App {
  text-align: center;
  display: flex; 
  justify-content: center;
  margin: 0 auto;
 
 
}

.App-logo {
  /* height: 40vmin; */
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 0.7s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
}
.TriviaGame {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gold;
  flex-direction: column;
  background-size: cover;
  padding: 30px 0
  
}

.ButtonsHome {
  display: flex;
  padding:20px;
  

}

.ButtonsHome button{
  padding: 20px 50px;
  background-color: black;
  color: gold;
  border-color: gold;
  border-radius: 15px;
  margin: 0 50px;
  width: 400px;
  font-size: 30px;
}
.ButtonsHome a {
  text-decoration: none;
}

.categories-buttons{
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0
}

.column1{
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 flex-direction: column;
}
.column2{
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 flex-direction: column;
  
}
.column3{ 
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 flex-direction: column;
}
.categories-buttons input{
  margin: 30px;
  width: 250px;
  height: 60px;
  color: gold;
  background-color: black;
  border: black;
  border-radius: 15px;
  font-size: 20px;
}

.categories h1 {
  font-size: 3em;
  background-color: gold;
  color: black;
  font-stretch: 30px;
  padding: 30px 0;
}
.categories-buttons a {
  text-decoration: none;
  color: gold;
}

.Game {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  /* padding: 100px 20px; */
  border: auto;
  font-size: 20px;
  text-align: left;
  color: white;
  font-weight: 300;
  /* background-color: cornflowerblue ; */
  /* margin: 170px auto; */
}
.YesNo{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-size: 32px;
  color: rgb(209, 92, 25);
}

.YesNo img {
  width: 300px;
  height: 250px;
}

.Game button {
  border-radius: 15px ;
  background-color: black;
  color: gold;
  border: black;
  width: 200px;
  padding: 20px;
  font-size: 20px;
}
.Game form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px 0;
}
.multiple-choice{
  padding: 3px 0;
}
.multiple-choice label{
    margin-left: 3px;
  }
  .next-btn{
    background-color: rgb(223, 105, 37);
    border-color: white;
    color: white;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    font-size: 20px;
  }
  .start-button button {
    padding: 10px;
    background-color: gold;
    color: black;
    border-color: black;
    border-radius: 15px;
    /* margin: 0 50px; */
    width: 200px;
    font-size: 20px;
  }
  
.GameOver {
  font-size: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.GameOver button{
  background-color: white;
  border-color: rgb(56, 55, 55);
  color: rgb(56, 55, 55);
  border-radius: 20px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  padding: 5px 10px;
}

.Main-Menu {
  display:flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items:center;
  height:800px;
  width:100%;
  
  }

.Main-Menu h1 {
  margin: 0 auto;
  color: rgb(223, 164, 231);
  font-size: 5em;
  font-variant-caps: petite-caps; 
}
.Main-Menu h3 {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-variant-caps: petite-caps; 
  font-size: 2em;
  color: rgb(241, 185, 227);
}

.Main-Menu div {
  display: flex;
  justify-content: space-around;
  align-items:flex-start;
  }
.Main-Menu a{
  text-decoration: none;
  background-color: whitesmoke;
  border-radius: 180px;
  width: 250px;
  margin: auto 100px;
  padding: 20px;
  font-size: 0.4em;
}
.Main-Menu a h1{
  color: rgb(241, 185, 227)
}

  .Jokes {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
  }
  .Jokes h1 {
    color: white;
    font-size: 42px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 50%;
    margin-top: 100px
  }
  .Jokes h2 {
    background-color: white;
    border-radius: 180px;
    color: crimson;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: fit-content;
    margin-top: 30px;
    padding: 5px 20px;
  }
  .Jokes img {
    height: 300px;
    width: 250;
    border-radius: 180px;
  }
  .joke-btns button{
    margin: 0 50px 30px;
    width: 200px;
    height: 40px;
    background-color: darkred;
    color: white;
    font-size: 16px;
    border-color: white;
    border-width: 1px;
    border-radius: 180px;
    transition: all 0.2s ease-in-out;
  }
  
  .glow-button button {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 10px 10px rgba(248, 247, 248, 0.4);
    
  }
  .Quotes {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
  }
  .QMeme img {
    height: 300px;
    width: 250;
    border-radius: 45px;
    transition: all 0.2s ease-in-out;
  }
  .headers {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 70%;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.185);
    border-radius: 15px;
    padding: 0 20px;
  }
  .quote-btns button{
    margin: 0 50px 30px;
    width: 200px;
    height: 40px;
    background-color: white;
    color: rgb(98, 139, 194);
    font-weight: bold;
    font-size: 16px;
    border-color: white;
    border-width: 1px;
    border-radius: 180px;
    transition: all 0.2s ease-in-out;
  }
  .Quit button {
    background-color: red;
    color: white;
    font-size: 16px;
    width: 100px;
    height: 30px;
    border-color: red;
    border-radius: 30px;
  }
